<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <title>Detalle Producto</title>

<body>
    <%- include('./partials/header.ejs')%>

    <h1>Detalle del producto:</h1>
    <section class="">
     
          <article>
              <p>Este producto tiene lo siguiente:</p>
            <ul>
              <li>Nombre: <%= producto.name %> </li>
              <li>Precio: <%= producto.price %> </li>
              <li>Categoria: <%= producto.category %> </li>
              <li>Descripcion: <%= producto.description %> </li>
              <li>Color: <%= producto.color %> </li>
              <li>Imagen: <%= producto.image %> </li>
              <li>Medidas: <%= producto.measure %> </li>
              <li>id: <%= producto.id %> </li>

              
            </ul>
            <div>
                <a href="/products/edit/<%= producto.id %> ">
                  <button type="button">Editar:</button>
                </a>
              </div>
          </article>
        </a>
        
      
    </section>



    
    <%- include('./partials/footer.ejs')%>
</body>
</html>