<!DOCTYPE html>
<html lang="en">
     <%- include('./partials/head.ejs')%>
    
    <title>Productos</title>

<body>
    <%- include('./partials/header.ejs')%>

    
    <h1>Listado de productos:</h1>
    <section class="productos">
    
      <% Products.forEach(function(producto){ %>
        <a href="/products/detail/<%= producto.id %>">
          <article>
              <p>Este producto tiene lo siguiente:</p>
            <ul>
              <li>Nombre: <%= producto.name %> </li>
              <li>Precio: <%= producto.price %> </li>
              <li>Categoria: <%= producto.category %> </li>
              <li>Descripcion: <%= producto.description %> </li>
              <li>Color: <%= producto.color %> </li>
              <li>Imagen: <%= producto.image %> </li>
              <li>Medidas: <%= producto.measure %> </li>

              
            </ul>
          </article>
        </a>
      
        <% }) %> 
      
      </section>

   
    <%- include('./partials/footer.ejs')%>
</body>
</html>