<!DOCTYPE html>
<html lang="en">
     <%- include('./partials/head.ejs')%>
    
    <title>Productos</title>

<body>
    <%- include('./partials/header.ejs')%>

    
    
    
      
    
      <% Products.forEach(function(producto){ %>
        <a href="/products/detail/<%= producto.id %>">
          <article>
              
            <ul class = "productos">
              <div class= "productos1">
              <li>Nombre: <%= producto.name %> </li>
              <li>Precio: $ <%= producto.price %> </li>
              <li>Categoria: <%= producto.category %> </li>
              <li>Descripcion: <%= producto.description %> </li>
              <li>Color: <%= producto.color %> </li>
              <li>Medidas: <%= producto.measure %> </li>
            </div>
            <div class= "productos2">
              <li><img src= "<%= producto.image %>" width="50%"></li>
              
            </div>
              
            </ul>
          </article>
        </a>
      
        <% }) %> 
      
     

   
    <%- include('./partials/footer.ejs')%>
</body>
</html>