<!DOCTYPE html>
<html lang="en">
  
    <%- include("partials/head.ejs") %> 
  
  <body>
    <%- include("partials/header.ejs") %> 

    

    <main >
      <div class="product">
        <h1>Crear producto:</h1>

        <form action="/products/create" method="POST">
  
          <div class="product-form">
            <label for="nombre">Nombre:</label>
            <input type="text" name="name" id="name">
          </div>
          
          <div class="product-form" >
            <label for="category">Categoria:</label>
            <select name ='category'>
              <% categories.forEach(function(category){ %>
                
                <option value ='<%= category.id %>'> <%= category.nombre %> </option>
                
                <% }) %>
              
          
            </select>
            <!-- <input type="text" name="category_id"  id="category"> -->
          </div>
  
          <div class="product-form">
            <label for="precio">Precio:</label>
            <input type="number" name="price" id="precio">
          </div>
          <div class="product-form">
            <label for="measure">Medidas:</label>
            <input type="text"  name="measure" id="measure">
          </div>
          <div class="product-form">
            <label for="color">Color:</label>
            <input type="text" name="color" id="color">
          </div>
          <div class="product-form">
            <label for="descripcion">Descripcion:</label>
            <input type="text" name="description" id="description">
          </div>
          <div class="product-form">
            <label for="imagen">Imagen:</label>
            <input type="" name="image" id="image">
          </div>
  
          

          
    
            <button type="submit">
              Crear Producto
            </button>

          
        </form>
        
       
      
      </div>
    
    </main>
  
    <%- include("partials/footer.ejs") %> 

  </body>
</html>