<!DOCTYPE html>
<html lang="en">
   
    <%- include('./partials/head.ejs')%>
    <title>Crear cuenta</title>
<body>
<%- include('./partials/header.ejs')%>            
        
            <form action="/register" method="POST"   class="formulario" enctype = "multipart/form-data">

            <div><label for="">Inicio/ Mi cuenta/ Crear cuenta</label></div>      
    
        <div class= "crearcuenta">
           
            <label for="nombre" class="form4">NOMBRE</label>
            <div><input type="text"  placeholder="ej.: Maria Perez" class="form-control" name="nombre" value="" class="nombre <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" 
                value = "<%= locals.oldData ? oldData.nombre : null %>">
             <br>
            <% if (locals.errors && errors.nombre) { %>
                <%= errors.nombre.msg %>
                <% } %>
            
            </div>

            <div class= "email">
            <label for="email" class="form">EMAIL</label>
            <div><input type="email"  placeholder="ej.: tunombre@email.com" name="email" value="" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                value = "<%= locals.oldData ? oldData.email : null %>">
                <br> <% if (locals.errors && errors.email) { %>
                <%= errors.email.msg %>
                <% } %>
            </div> 
        </div>
        
        <label for="telefono" class="form5">TELEFONO</label>
        <div><input type="text"  placeholder="ej.: 3416634532" class="form-control" name="telefono" value="" class="telefono <%= locals.errors && errors.telefono ? 'is-invalid' : null %>"
            value = "<%= locals.oldData ? oldData.telefono : null %>"></div> 
        <br><% if (locals.errors && errors.telefono) { %>
            <%= errors.telefono.msg %>
            <% } %>
        
        <div class= "contraseña">
            <label for = "contraseña" class="form1">CONTRASEÑA</label>
            <div><input type="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"  name="password" id="contraseña"  
                value = "<%= locals.oldData ? oldData.password : null %>"></div>
            <% if (locals.errors && errors.password) { %>
                <%= errors.password.msg %>
                <% } %>
        </div>

        <div class = "avatar">
            <label>Imagen de Perfil<b></b></label>
            <br>
            <input class = "form-control" type = "file" name = "avatar">
            <br><% if (locals.errors && errors.avatar) { %>
                <%= errors.avatar.msg %>
                <% } %>
        </div>
                
        <div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>
            <button type="submit"  value="Crear-cuenta" class= "crear-cuenta">CREAR CUENTA </button>

            <div><label for = "no-tenes-cuenta" class="form2">¿Ya tenes una cuenta? Iniciar sesion</label></div>
            


        </div>
            </form>
            <%- include('./partials/footer.ejs')%>            
</body>
</html>